{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Add Story</title>
{% endblock %}


{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'story/css/styles.css' %}"  media="screen, projection"/>
{% endblock %}


{% block scripts %}
    <script src="{% static 'story/js/script.js' %}"></script>
{% endblock %}


{% block header %}
    <header class="section teal lighten-2 white-text">
        <div class="container">
            <div class="row">
                <div class="right">
                    <a href="{% url 'account:index' %}" class="white-text">login</a>
                    <a href="{% url 'account:index' %}" class="white-text">create account</a>
                </div>
            </div>

            <div class="row">
                <div class="header-title col s12 m8">
                    <h5>wander</h5>
                    <p>Take life one experience at a time.</p>
                </div>

                <form action="" class="">
                    <div class="input-field col s12 m4">
                        <input type="text" name="destination" id="destination">
                        <label for="destination">Destination</label>
                    </div>
                </form>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}
    <div class="section">
        <div class="container row">
            <div class="col s12 m6">
                <form class="" action="index.html" method="post">
                    <input type="text" name="title" value="" placeholder="Title">
                    <input type="text" name="location" value="" placeholder="Location">
                    <div class="input-field">
                        <select name="rating">
                            <option value ="1">1</option>
                            <option value ="2">2</option>
                            <option value ="3">3</option>
                            <option value ="4">4</option>
                            <option value ="5">5</option>
                        </select>
                        <select name="genre">
                            <option value ="Active">Active</option>
                            <option value ="Relaxation">Relaxation</option>
                            <option value ="Dining">Dining</option>
                            <option value ="Socialize">Socialize</option>
                            <option value ="Competition">Competition</option>
                        </select>
                        <textarea name="story_body" class="materialize-textarea" placeholder="Write your story..."></textarea>
                    </div>
                </form>
            </div>
            <div class="col s12 m6"></div>
        </div>
    </div>

    <div class="section">
        <div class="stories row"></div>
        <div class="story row"></div>
    </div>
{% endblock %}


{% block footer %}
    <footer class=".page-footer section grey lighten-1 white-text">
        <div class="container">
            <div class="row">
                <div class="col s6 m3 center-align">
                    <h5>Home</h5>
                    <a href="{% url 'account:login' %}">Log In</a>
                </div>

                <div class="col s6 m3 center-align">
                    <h5>Home</h5>
                    <a href="">Stories</a>
                    <a href="">Journies</a>
                </div>

                <div class="col s12 m6 right-align">
                    <h5>My Account</h5>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
