html {
    letter-spacing: 2px
}

/* label color */
.input-field label {
    color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #fff;
}
/* label underline color */
.input-field input[type=text] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 0 #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
    .input-field .prefix.active {
    color: #fff;
}

header {
    position: relative;
    font-weight: 200;
    padding: 10px;
}

header:before {
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 80%;
}

header .row {
    margin-bottom: 0;
}

.header-title {
    margin-top: 15px;
}

.header-title h5,
.header-title p {
    display: inline-block;
    vertical-align: sub;
}

.header-title h5 {
    font-weight: inherit;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}

.header-title h5:before {
    background-color: rgba(255, 255, 255, 0.75);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

footer {
    text-transform: uppercase;
}

/**
 * Google Map Styles
 */
.map-wrap {
    height: 500px;
}

#map {
    height: 100%;
}

.map-wrap .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.map-wrap #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

.map-wrap #pac-input:focus {
    border-color: #4d90fe;
}

.map-wrap .pac-container {
    font-family: Roboto;
}

.map-wrap #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

.map-wrap #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.map-wrap #target {
    width: 345px;
}
